html {
    height: 100%;
    width: 100%;
  }


  #main {
    display: relative;
    /* text-align: center; */
  }
  .texts {
    position: absolute;
    font-size: 2.5pc;
    width:96%;
    height: 80%;
    margin: 2%;
    margin-top:7% ;
    margin-bottom:10% ;
    text-align: center;
  }

#options {
  display: flex;
  position: absolute;
  justify-content: space-around;

  width: 60%;
  height: 10%;

  bottom: 15%;
  left: 20%;
  right: 20%;

}

  
#input {
  position: absolute;
  width: 15%;
  left: 43%;
  bottom: 10%;
}
#submit {
  position: absolute;
  width: 8%;
  left: 60%;
  bottom: 10%;
}

.invis {
  opacity: 0;
  z-index: -40;
}

  .fade-in-text {
    animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    30% {opacity: 0; }
    100% { opacity: 1; }
  }
  
  .fade-out-text {
    animation: fadeOut 2s;
    /* opacity: 0; */
  }
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }